body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
    background: url('images/body-background.jpg')no-repeat center center fixed;
    background-size: cover;
}

header {
    color: #fff;
    padding: 2rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

header p {
    margin: 0.5rem 0 0;
    font-size: 1.2rem;
}

section {
    padding: 2rem 0;
    text-align: center;
}

section h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
}

#about {
    padding: 3rem 0;
    color: #fff;
}

#about img {
    max-width: 150px;
    border-radius: 50%;
    margin-bottom: 1rem;
}

#about .bio {
    max-width: 600px;
    font-size: large;
    margin: 0 auto;
}

#skills {
   color: #fff; 
}

#skills ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#skills li {
    display: inline-block;
    margin: 0.5rem;
    background: #f4f4f4;
    color:#333;
    padding: 0.5rem 1rem;
    border-radius: 4px;
}

#projects {
    padding: 3rem 0;
    color:#fff;
}

#projects .project {
    margin: 2rem 0;
    max-width: 800px;
    margin: 2rem auto;
    text-align: left;
    background: #fff;
    color:#333;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#projects img {
    max-width: 50%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 1rem;
}

#resume {
    padding: 3rem 0;
    color:#fff;
   }

#resume a {
    display: inline-block;
    background:#fff;
    color: #333;
    font-size: larger;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    text-decoration: none;
    margin-top: 1rem;
}

#contact {
    padding: 3rem 0;
    color:#fff;
}

#contact p {
    margin: 0.5rem 0;
}

#contact a {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #333;
    transition: all 0.3s;
}

#contact a:hover {
    color: #007BFF;
    border-bottom: 1px solid #007BFF;
}
